<template>
  <div class="home">
    <MCAddress
      :address="from"
      label="From"
      @select="selectedAddress = from"
    />
    <MCAddress
      :address="to"
      label="To"
      @select="selectedAddress = to"
    />
    <MCAddressForm
      :address="selectedAddress"
      v-if="selectedAddress !== ''"
    />
    <Map
      :lat="lat"
      :lon="lon"
    />
    <v-btn @click="fetchNominatimResult">
      Fetch 'toulouse'
    </v-btn>
    <table>
      <tr
        v-for="result in results"
        :key="result.osm_id"
        @mouseover="updateLatLon(result)"
      >
        <td>{{result.class}}</td>
        <td>{{result.display_name}}</td>
        <td>{{result.lat}}</td>
        <td>{{result.lon}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'

import MCAddress from '@/components/MCAddress.vue'
import MCAddressForm from '@/components/MCAddressForm.vue'
import Map from '@/components/Map.vue'
import myStore from '@/store/myStore'

const OVERPASS_URL = 'http://overpass-api.de/api/interpreter?'
const DEFAULT_BBOX = '43.54506428956427,1.3108062744140625,43.663525432098275,1.571388244628906'

function getQuery (bbox = DEFAULT_BBOX) {
  let bboxString = ''
  if (bbox === DEFAULT_BBOX) {
    bboxString = DEFAULT_BBOX
  } else {
    bboxString = `
      ${bbox.getSouth()},${bbox.getWest()},
      ${bbox.getNorth()},${bbox.getEast()}
    `
  }
  return `data=[out:xml];(way[%22leisure%22=%22park%22](${bboxString}););out%20body;%3E;out%20skel%20qt;`
}

export default {
  name: 'home',
  components: {
    MCAddress,
    MCAddressForm,
    Map
  },
  data () {
    return myStore
  },
  methods: {
    async fetchNominatimResult (search = 'toulouse') {
      const response = await axios.get(
        'http://nominatim.openstreetmap.org/search/' +
        'toulouse' +
        '?format=json'
      )
      console.log(response.data)
      this.results = response.data
    },
    async fecthOverpassData (bbox) {
      const response = await axios.get(OVERPASS_URL + getQuery(bbox))
      this.overpassResult = response.data
    },
    updateLatLon (result) {
      this.lat = result.lat
      this.lon = result.lon
      this.currentDisplayName = result.display_name
    }
  }
}
</script>
