<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Small VanillaJS Vue.js App</title>
  <style>
    [v-cloak] {
      display: none
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  </style>
</head>

<body>
  <!-- 1. add an element to host your vue.js app here -->
  <!-- 2. add an address from { id, road, complement, zipCode, city, country, state -->
  <!-- 3. add another address to -->
  <!-- 4. add conditional fields -->
  <!-- 5. add a form to edit the address -->
  <!-- 6. allow dynamic adding / update / delete -->
  <!-- 7. maybe refactor somewhere ?! -->
  <div id="app">
    <v-app>
      <v-toolbar color="indigo" dark>
        <v-toolbar-title>
          <span class="hidden-sm-and-down">Vanilla JS App</span>
        </v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <mc-address
            :address="from"
            label="From"
            @select="selectedAddress = from"
          ></mc-address>
          <mc-address
            :address="to"
            label="To"
            @select="selectedAddress = to"
          ></mc-address>
          <v-btn @click="selectedAddress = from">
            change address to from
          </v-btn>
          <v-btn @click="selectedAddress = to">
            change address to to
          </v-btn>
          <transition name="fade">
            <mc-address-form
              :address="selectedAddress"
              v-if="selectedAddress !== ''"
            ></mc-address-form>
          </transition>
        </v-container>
      </v-content>
      <v-footer app color="indigo" dark fixed>Footer vanilla JS</v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script type="text/javascript" src="./components/AddressForm-8.js"></script>
  <script type="text/javascript" src="./components/Address-8.js"></script>
  <script type="text/javascript" src="./index-8.js"></script>
</body>

</html>
