<html>

<head>
  <title>Small VanillaJS Vue.js App</title>
  <style>
    [v-cloak] {
      display: none
    }
  </style>
</head>

<body>
  <!-- 1. add an element to host your vue.js app here -->
  <!-- 2. add an address from { id, road, complement, zipCode, city, country, state -->
  <!-- 3. add another address to -->
  <!-- 4. add conditional fields -->
  <!-- 5. add a form to edit the address -->
  <!-- 6. allow dynamic adding / update / delete -->
  <!-- 7. maybe refactor somewhere ?! -->
  <div id="app">
    <div v-cloak>
      <strong>Address From</strong>
      <br/> Road : {{ from.road }}
      <br/> Zip Code : {{ from.zipCode }}
      <br/> City : {{ from.city }}
      <br/>
      <span v-if="from.complement">Complement: {{ from.complement }}<br/></span>
      <span v-if="from.country">Country: {{ from.country }}<br/></span>
      <span v-if="from.state">State: {{ from.state }}<br/></span>
    </div>
    <div v-cloak>
      <strong>Address To</strong>
      <br/> Road : {{ to.road }}
      <br/> Zip Code : {{ to.zipCode }}
      <br/> City : {{ to.city }}
      <br/>
      <span v-if="to.complement">
        Complement:
        <span v-bind="to.complement"></span>
        <br/>
      </span>
      <span v-if="to.country">Country: {{ to.country }}
        <br/>
      </span>
      <span v-if="to.state">State: {{ to.state }}
        <br/>
      </span>
    </div>
    <h2>Form 1</h2>
    <form>
      <p v-for="(value, key) in from">
        {{ value }} {{ key }}
        <input type="text" :value="value"/><br/>
        <input type="text" v-model="from[key]"/><br/>
      </p>
    </form>
    <h2>Form 1.bis</h2>
    <form>
      <p v-for="property in Object.keys(from)">
        <input type="text" v-model="from[property]"/><br/>
      </p>
    </form>
    <h2>Form 2</h2>
    <form>
      Road :
      <input v-model="from.road" type="text" />
      <br/> Zip Code :
      <input v-model.number="from.zipCode" type="number" />
      <br/> City :
      <input v-model="from.city" type="text" />
      <br/> Complement :
      <input v-model="from.complement" type="text" />
      <br/> Country :
      <input v-model="from.country" type="text" />
      <br/> State :
      <input v-model="from.state" type="text" />
      <br/>
    </form>
    <form>
      <div v-for="item in addressSchema">
        <label>{{item.label}}</label>
        <input
          v-bind="item.attrs"
          v-model="from[item.field]"
          @mouseover="logMouseOver"
        />
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        from: {
          road: '52 rue Jacques Babinet',
          zipCode: 31000,
          city: 'Toulouse',
          complement: 'Makina Corpus',
          country: 'Occitanie',
          state: null
        }, to: {
          road: 'place du Capitole',
          zipCode: 31000,
          city: 'Toulouse',
          state: 'France'
        },
        addressSchema: [{
          attrs: { type: 'text' },
          label: 'Road',
          field: 'road'
        }, {
          attrs: { type: 'number', style: "color: red" },
          label: 'Zip Code',
          field: 'zipCode'
        }, {
          attrs: { type: 'text' },
          label: 'Complement',
          field: 'complement'
        }, {
          attrs: { type: 'text' },
          label: 'State',
          field: 'state'
        }, {
          attrs: { type: 'text' },
          label: 'Country',
          field: 'country'
        }, {
          attrs: { type: 'text' },
          label: 'City',
          field: 'city'
        }]
      },
      methods: {
        logMouseOver: console.log
      }
    })
  </script>
</body>

</html>
